DEVFLOW_HARBOR_URL=https://hb.reg.com
DEVFLOW_HARBOR_REGISTRY=hb.reg.com
DEVFLOW_HARBOR_PROJECT=devflow
DEVFLOW_HARBOR_PUSH_USERNAME=robot-project+jenkins-push
DEVFLOW_HARBOR_PUSH_SECRET=replace-with-jenkins-push-robot-secret
DEVFLOW_HARBOR_PULL_USERNAME=robot-project+k3s-pull
DEVFLOW_HARBOR_PULL_SECRET=replace-with-k3s-pull-robot-secret
