DEVFLOW_POSTGRES_DB=devflow
DEVFLOW_POSTGRES_USER=devflow
DEVFLOW_POSTGRES_PASSWORD=change-me-locally
DEVFLOW_GITHUB_WEBHOOK_SECRET=replace-with-64-hex-secret
DEVFLOW_JENKINS_URL=<JENKINS_URL>
DEVFLOW_JENKINS_USERNAME=<JENKINS_SERVICE_USER>
DEVFLOW_JENKINS_API_TOKEN=<JENKINS_API_TOKEN>
DEVFLOW_JENKINS_JOB_NAME=devflow-pipeline
